<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
  <h1>Weather Data API</h1>
  <p>URL format: http://127.0.0.1:5000/api/v1/station/data</p>
  <p>for one station for one date: <a href="http://127.0.0.1:5000/api/v1/10/19981025">http://127.0.0.1:5000/api/v1/10/19981025</a></p>
  <p>for all stations for all dates: <a href="http://127.0.0.1:5000/api/v1/10">http://127.0.0.1:5000/api/v1/10</a></p>
  <p>for one stations for one year: <a href="http://127.0.0.1:5000/api/v1/yearly/10/1998">http://127.0.0.1:5000/api/v1/yearly/10/1998</a></p>
  <hr>
  {% for row in data %}
        <p>{{ row }}</p>
  {% endfor %}
  <hr>
  <h3>See the table below for stations codes:</h3>
  <p>{{ stations|safe }}</p>
</body>
</html>